<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Socket</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    <div class="container-fluid">
        <div class="container">
            <div class="col-md-12">
                <h2>
                    Suscripcion manual del canal <br>
                    <code>Conexion al servidor de sockets</code>
                </h2>
                <div class="row">
                    <div class="col-md-12 mt-4">
                        <label for="host">CANAL</label>
                        <input type="text" class="form-control inut-sm" id="channel">
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <button type="button" id="connectSocket" class="btn btn-primary btn-block">Enviar</button>
            </div>
            <div class="col-md-12">
                <br>
                <div id="logs" class="jumbotron">
                    
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            document.getElementById('connectSocket').addEventListener('click', () =>{
                const url = document.getElementById('channel').value;
                if(url) {
                    document.getElementById('channel').disabled = true;
                    document.getElementById('connectSocket').disabled = true;
                    const socket = io('{{host}}/' + url);
                    socket.on('connection', socket => {
                        console.log('connect')
                    });
                    socket.on('connect', () => {
                        setLog(`conectted to ${url} <br/>`);
                    });
                    socket.on('disconnect', () => {
                        setLog(`user disconnected <br/>`);
                    });
                    socket.on('subscribe', (data) => {
                        //socket.join(data);
                        setLog(`your user is: ${data} <br/>`);
                    });
                    socket.on('new_tenancy', (data) => {
                        setLog(`new_tenancy ${data} <br/>`);
                    });
                    socket.on('status_register', (data) => {
                        setLog(`status_register ${data} <br/>`);
                    });
                    socket.on('status_subdomain', (data) => {
                        setLog(`status_subdomain ${data} <br/>`);
                    });
                    socket.on('status_virtualhost', (data) => {
                        setLog(`status_virtualhost ${data} <br/>`);
                    });
                    socket.on('status_schema', (data) => {
                        setLog(`status_schema ${data} <br/>`);
                    });
                    socket.on('status_migrations', (data) => {
                        setLog(`status_migrations ${data} <br/>`);
                    });
                    socket.on('status_seeders', (data) => {
                        setLog(`status_seeders ${data} <br/>`);
                    });
                    socket.on('change_me_gamification', (data) => {
                        console.log(data);
                        setLog(`change me gamification <br/> ${JSON.stringify(data)} <br/>`);
                    });
                } else {
                    alert('Digitar canal');
                }
            })

            function setLog(text) {
                const ac = document.getElementById('logs').innerHTML;
                document.getElementById('logs').innerHTML = ac + `${text}`;
            }
        });
    </script>

</body>
</html>